@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Azeret Mono", monospace;
}

/* sharad styles */

.btn-primary {
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 24px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}

.btn-secondry {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    margin: 30px 0;
}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.section-discraption {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 300px 50px 300px;

}

.section-btn-primary {
    background: #FEFEFE;
    border: 1px solid rgb(13, 19, 33);
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 30px 0;

}

main>section {
    margin: 80px 150px;
    text-align: center;
}

.card-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 24px;
}

.card-discraption {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 24px;
}

.card-button {
    text-decoration-line: underline;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    border: none;
    background: none;
    cursor: pointer;
}

/* navbar Styles */

header nav {
    display: flex;
    justify-content: space-between;
    margin: 35px 150px;
    align-items: center;
}

nav h1 {
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}

nav a {
    text-decoration: none;
}

/* banner-styles */

.banner-section {
    background: url(../assets/Hero-bg.png);
    text-align: center;
    padding: 24px 220px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title {
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    margin: 25px 0;
}

.banner-discraption {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

/* why-web-development-section */
.why-web-development-section {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    text-align: center;
    padding: 80px 100px;
}

.coding-section {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    background: linear-gradient(to right,
            rgb(255, 255, 255), rgba(255, 255, 255, 0));
    margin-bottom: 30px;
    border-radius: 16px;
}

.section-sub-title {
    color: #0D1321B3;
    font-size: 24px;
    font-weight: 700;
}

.section-sub-discraption {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.coding-section img {
    height: auto;
    width: 260px;
}

.coding-content {
    text-align: left;
}

.anathor-coding-section {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0), rgb(255, 255, 255));

    margin-bottom: 30px;
    border-radius: 16px;
}

.anathor-coding-content {
    text-align: right;
}

/* inspiration-section-styles */
.inspiration-section {
    margin-top: 80px;
    text-align: center;
}

.video-content {
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

.video-content iframe {
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

/* current-target-section-styles */
.current-target-section {
    text-align: center;
    margin-top: 150px;
}

.card-containar {
    display: flex;
    justify-content: space-between;
}

.card-items {
    width: 30%;
    height: auto;
    padding: 40px;
    border-radius: 16px;
    text-align: left;
}

.card-items img {
    width: 56px;
    height: 56px;
}

.color-1 {
    background: #FF4C1E0D;
}

.color-2 {

    background: #004CE80D;
}

.color-3 {
    background: #FFDF000D;
}

/* next-tergat-section-styles */
.next-tergat-items-containar {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.next-tergat-items {
    display: flex;
    justify-content: flex-start;
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    gap: 20px
}

.next-tergat-items img {
    height: ;
}

.next-tergat-content a {
    display: block;
    text-align: left;
}

/* Support-section-Styles */
.support-section {
    background: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 50px;
    border-radius: 16px;
    margin-top: 80px;
    text-align: center;
}

.support-section h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.support-section p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    margin: 15px 300px 25px 300px;

}

.support-section input[type="text"] {
    width: 550px;
    height: 60px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding: 19px 20px 19px 20px;
    border-radius: 10px;
    border: none;
}

.color-4 {
    background: #FFFFFF;
    height: 60px;
    border: none;
}


/* footer-styles */
.footer-containar {
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
    align-items: center;
}

.footer-containar a {
    margin-left: 24px;
    text-decoration: none;
}

.footer-containar a img {
    width: 36px;
    height: 36px;
}